*{
	margin: 0;
	padding: 0;
}

#banner{
	width: 100%;
	background-color: #fff;
}

#menutop{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: black;
}

#menutop ul{
	float: left;
	color: #ccc;
	margin-left: 5%;
}

#menutop ul .a span{
	background-color: #fff;
	border: 1px solid black;
	color: black;
}

#menutop ul li{
	float: left;
	line-height: 40px;
	list-style: none;
	border-right: 1px solid #ccc;
	padding-right: 15px;
	padding-left: 15px;
}

#welcometext{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#welcometext .a{
	height: 50px;
}

#welcometext .a .left h4{
	float: left;
	padding-top: 20px;
}
#welcometext .a .right h4{
	color: #979797;
	float: right;
	padding-top: 20px;
}

#welcomeimg{
	width: 90%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
#welcomeimg .docter{
	background-image: url('../image/_112834924_gettyimages-1248738814.jpg');
	width: 50%;
	height: 100%;
	float: left;
	box-shadow: 0px -50px 80px #181818 inset;
	position: relative;
}
#welcomeimg .docter .text{
	position: absolute;
	color: #fff;
}

#welcomeimg .docter .text h2{
	padding-top: 200px;
	margin: 10px;
}

#welcomeimg .docter .text p{
	margin: 10px;
}

#welcomeimg .docter .text .w{
	margin-left: 10px;
	padding-left: 1%;
	border-left: 2px solid red;
}

#welcomeimg .anhnho{
	width: 50%;
	height: 100%;
	float: right;
}

#welcomeimg .anhnho .trai{
	width: 48%;
	height: 100%;
	padding-left: 2%;
	float: right;
}

#welcomeimg .anhnho .trai .img1{
	background-image: url('../image/_112834598_mediaitem112834597.jpg');
	width: 100%;
	height: 49%;
	box-shadow: 0px -50px 80px #181818 inset;
	margin-bottom: 2%;	
}

#welcomeimg .anhnho .trai .img1 h3{
	color: #fff;
	padding-top: 70px;
	margin-left: 10px;
}

#welcomeimg .anhnho .trai .img1 .u{
	color: #fff;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 1%;
	border-left: 2px solid red;
}

#welcomeimg .anhnho .trai .img2{
	background-image: url('../image/p08gkk50.jpg');
	width: 100%;
	height: 49%;
	box-shadow: 0px -50px 80px #181818 inset;	
}

#welcomeimg .anhnho .trai .img2 h3{
	color: #fff;
	padding-top: 70px;
	margin-left: 10px;
}

#welcomeimg .anhnho .trai .img2 .fu{
	color: #fff;
	margin-left: 10px;
	padding-left: 1%;
	margin-top: 10px;
	border-left: 2px solid red;
}

#welcomeimg .anhnho .phai{
	width: 48%;
	height: 100%;
	padding-left: 2%;
	float: right;
}

#welcomeimg .anhnho .phai .img3 h3{
	color: #fff;
	padding-top: 70px;
	margin-left: 10px;
}

#welcomeimg .anhnho .phai .img3 .eu{
	color: #fff;
	margin-left: 10px;
	padding-left: 1%;
	margin-top: 10px;
	border-left: 2px solid red;
}

#welcomeimg .anhnho .phai .img3{
	background-image: url('../image/_112834440_surfers1.jpg');
	width: 100%;
	height: 49%;
	box-shadow: 0px -50px 80px #181818 inset;
	margin-bottom: 2%;
}

#welcomeimg .anhnho .phai .img4{
	background-image: url('../image/p08gky02.jpg');
	width: 100%;
	box-shadow: 0px -50px 80px #181818 inset;
	height: 49%;
}

#welcomeimg .anhnho .phai .img4 h3{
	color: #fff;
	padding-top: 70px;
	margin-left: 10px;
}

#welcomeimg .anhnho .phai .img4 .cu{
	color: #fff;
	margin-left: 10px;
	padding-left: 1%;
	margin-top: 10px;
	border-left: 2px solid red;
}

#newtext{
	width: 90%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
#newtext .new{
	padding-top: 23px;
}
#newtext .new h4{
	line-height: 15px;
	padding-left: 1%;
	border-left: 3px solid red;
}

#newimg{
	width: 90%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
}
#newimg .trump{
	width: 32%;
	float: left;
}
#newimg .trump img{
	width: 100%;
	height: 200px;
}

#newimg .columbus{
	width: 33%;
	float: left;
	margin-left: 1%;
}
#newimg .columbus img{
	width: 100%;
	height: 200px;
}

#newimg .lufthan{
	width: 33%;
	float: right;
}
#newimg .lufthan img{
	width: 100%;
	height: 200px;
}

#newimg .us{
	padding-top: 10px;
}
#newimg .us p{
	color: #ccc;
	line-height: 20px;
	padding-left: 2%;
	border-left: 2px solid red;
}

#sporttext{
	width: 90%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
#sporttext .sport{
	padding-top: 23px;
}
#sporttext .sport h4{
	line-height: 15px;
	padding-left: 1%;
	border-left: 3px solid yellow;
}

#sportimg{
	width: 90%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}
#sportimg .mancity{
	width: 32%;
	float: left;
}
#sportimg .mancity img{
	width: 100%;
	height: 200px;
}

#sportimg .motondo{
	width: 33%;
	float: left;
	margin-left: 1%;
}
#sportimg .motondo img{
	width: 100%;
	height: 200px;
}

#sportimg .bayern{
	width: 33%;
	float: right;
}
#sportimg .bayern img{
	width: 100%;
	height: 200px;
}

#sportimg .football{
	padding-top: 25px;
}
#sportimg .football p{
	color: #ccc;
	line-height: 20px;
	padding-left: 2%;
	border-left: 2px solid yellow;
}

#london{
	width: 90%;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}

#reel{
	width: 100%;
	height: 350px;
	background-image:url('../image/p07s9yxt.jpg');
	padding-top:2%;
	padding-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
}

#reel .reeltext{
	width: 90%;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
}

#reel .reelimg{
	width: 90%;
	
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
}
#reel .reelimg .cay{
	width: 32%;
	height: 260px;
	background-color: #fff;
	float: left;
}
#reel .reelimg .cay img{
	width: 100%;
	height: 200px;
}
#reel .reelimg .cay h3{
	padding-left: 2%;
	padding-bottom: 2%;
}

#reel .reelimg .sex{
	width: 32%;
	height: 260px;
	background-color: #fff;
	float: left;
	margin-left: 1%;
}
#reel .reelimg .sex img{
	width: 100%;
	height: 200px;
}
#reel .reelimg .sex h3{
	padding-left: 2%;
}

#reel .reelimg .physic{
	width: 32%;
	height: 260px;
	background-color: #fff;
	float: left;
	margin-left: 1%;
}
#reel .reelimg .physic img{
	width: 100%;
	height: 200px;
}
#reel .reelimg .physic h3{
	padding-left: 2%;
	padding-bottom: 2%;
}

#edittong{
	background-color: #ccc;
	height: 1230px;
}
#edittext{
	width: 90%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
#edittext .ed{
	padding-top: 30px;
}

#editimg{
	width: 90%;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}
#editimg .editleft{
	width: 70%;
	float: left;
}

#editimg .editleft .imgtop{
	background-image: url('../image/p088lysp.jpg');
	width: 100%;
	height: 450px;
	background-size: cover;
	position: relative;
	margin-bottom: 15px;
	box-shadow: 0px -50px 80px #181818 inset;
}

#editimg .editleft .imgtop .absolute{
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: #fff;
}

#editimg .editleft .imgtop .absolute .text3{
	border-left: 3px solid black;
	padding-left: 5px;
}
#editimg .editleft .imgbutton{
	width: 100%;
}
#editimg .editleft .imgbutton .img1{
	width: 32%;
	height: 330px;
	background-color:#fff; 
	float: left;
}
#editimg .editleft .imgbutton .img1 img{
	width: 100%;
}

#editimg .editleft .imgbutton .img2{
	width: 32%;
	height: 330px;
	background-color:#fff; 
	float: left;
	margin-left: 2%;
}
#editimg .editleft .imgbutton .img2 img{
	width: 100%;
}

#editimg .editleft .imgbutton .img3{
	width: 32%;
	height: 330px;
	background-color:#fff;
	float: right; 
}
#editimg .editleft .imgbutton .img3 img{
	width: 100%;
}

#editimg .editleft .imgbutton .img4{
	width: 32%;
	height: 330px;
	background-color:#fff; 
	float: left;
	margin-top: 15px;
}
#editimg .editleft .imgbutton .img4 img{
	width: 100%;
}

#editimg .editleft .imgbutton .img5{
	width: 32%;
	height: 330px;
	background-color:#fff; 
	margin-left: 2%;
	float: left;
	margin-top: 15px;
}
#editimg .editleft .imgbutton .img5 img{
	width: 100%;
}

#editimg .editleft .imgbutton .img6{
	width: 32%;
	height: 330px;
	background-color:#fff; 
	float: right;
	margin-top: 15px;
}
#editimg .editleft .imgbutton .img6 img{
	width: 100%;
}

#editimg .editleft .imgbutton h3{
	padding: 7% 0% 3% 3%;
}

#editimg .editleft .imgbutton .ab{
	padding-left: 3%;
}
#editimg .editleft .imgbutton .travel{
	margin-top: 40px;
	margin-left: 3%;
	border-left: 2px solid blue;
	padding-left: 2%;
}

#editimg .editright{
	width: 29%;
	float: right;
	color: white;
}
#editimg .editright>.business{
	background-color: red;
	padding: 10px;
	font-weight: bold;
}
#editimg .editright>.list1{
	width: 100%;
	height: 130px;
	background-color: #393939;
}
#editimg .editright>.list1:hover{
	background-color: #ccc;
	color: black;
	cursor: pointer;
}
#editimg .editright .list1>.number{
	width: 25%;
	height: 100%;
	display: flex;
	align-items: center;
	float: left;
}
#editimg .editright .list1 .number>div{
	background-color: red;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	font-style: italic;
	margin-left: 40px;
	font-size: 20px;
}
#editimg .editright .list1 .business-text{
	width: 65%;
	height: 100%;
	display: flex;
	align-items: center;
	float: left;
	padding-left: 20px;
}
#editimg .editright .list1 .business-text>div{
	font-size: 18px;
	line-height: 25px;
}
#editimg .editright .list2{
	width: 100%;
	height: 130px;
	background-color: #333333;
}
#editimg .editright .list2:hover{
	background-color: #ccc;
	cursor: pointer;
	color: black;
}
#editimg .editright .list2>.number{
	width: 25%;
	height: 100%;
	display: flex;
	align-items: center;
	float: left;
}
#editimg .editright .list2 .number>div{
	background-color: red;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	font-weight: bold;
	font-style: italic;
	margin-left: 40px;
	font-size: 20px;
}
#editimg .editright .list2>.business-text{
	width: 65%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 20px;
	float: left;
}
#editimg .editright .list2 .business-text>div{
	font-size: 18px;
	line-height: 25px;
}

#future{
	width: 100%;
	height: 350px;
	background-image:url('../image/p0836dcl.jpg');
	padding-top:2%;
	padding-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
}

#future .futuretext{
	width: 90%;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
}

#future .futuretext h2{
	float: initial;
	padding: 5px;
	/*border: 2px solid #13dd2f;*/
}

#future .futuretext .a{
	float: left;
}
#future .futuretext .b p{
	float: right;
	border-radius: 3px solid #ccc;
}

#future .futureimg{
	width: 90%;
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
}
#future .futureimg .girl{
	width: 32%;
	height: 250px;
	background-color: #fff;
	float: left;
}
#future .futureimg .girl img{
	width: 100%;
	height: 200px;
}
#future .futureimg .girl h3{
	padding-left: 2%;
}

#future .futureimg .gau{
	width: 32%;
	height: 250px;
	background-color: #fff;
	float: left;
	margin-left: 1%;
}
#future .futureimg .gau img{
	width: 100%;
	height: 200px;
}
#future .futureimg .gau h3{
	padding-left: 2%;
}

#future .futureimg .costa{
	width: 32%;
	height: 250px;
	background-color: #fff;
	float: left;
	margin-left: 1%;
}
#future .futureimg .costa img{
	width: 100%;
	height: 200px;
}
#future .futureimg .costa h3{
	padding-left: 2%;
	padding-bottom: 2%;
}

#loa{
	width: 90%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}
#loa .technology{
	width: 49%;
	float: left;
}
#loa .technology img{
	width: 100%;
}

#loa .busin{
	margin-left: 1%;
	padding-left: 1%;
	border-left: 2px solid red;
}

#loa .textduoi{
	margin-left: 1%;
}
#loa .food{
	width: 49%;
	float: right;

}
#loa .food img{
	width: 100%;
}

#loa .texttop{
	margin-bottom: 1%;
}

#boss{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#boss .bossleft{
	width: 49%;
	float: left;
	margin-top: 3%;
}
#boss .theboss{
	background-image: url('../image/_112708829_luisonofre1.jpg');
	width: 100%;
	height: 300px;
	position: relative;
}

#boss .textduoi{
	position: absolute;
	margin-top: 250px;
	padding-left: 1%;
}

#boss .busin{
	position: absolute;
	margin-top: 280px;
	margin-left: 1%;
	padding-left: 1%;
	border-left: 2px solid red;
}
#boss .bossright{
	width: 49%;
	float: left;
	margin-top: 3%;
	margin-left: 2%;
}
#boss .tech{
	background-image: url('../image/_112332861_ldtsanitationdrone-sky.jpg');
	width: 100%;
	height: 300px;
	position: relative;
}

/*#cuoi{
	width: 100%;	
	background-color: #ccc;
}

#cuoi .cuoitop{
	width: 50%;
}

#cuoi .cuoitop .thodan{
	background-image: url('../image/thodan.jpg');
	width: 100%;
	height: 300px;
}*/

#footer{
	width: 100%;
	height: 400px;
	color: #fff;
	margin-top: 800px;
	background-color: #322b2b;
}

#footer .textfooter{
	width: 80%;
	height: 20%;
	padding-top: 100px;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
}

#footer .textfooter p{
	padding-top: 20px;
}

#footer .centerfooter{
	width: 100%;
	height: 35%;
	font-weight: bold;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
}

#footer .center1{
	
	width: 15%;
	margin-left: 10%;
	float: left;
	border-right: 1px solid #ccc;
}

#footer .centerfooter .a{
	padding-left: 3%;
}

#footer .centerfooter>div>ul>li{
	list-style: none;
}

#footer .center2{
	
	width: 15%;
	float: left;
	border-right: 1px solid #ccc;
}
#footer .center3{
	
	width: 15%;
	float: left;
	border-right: 1px solid #ccc;
}
#footer .center4{
	
	width: 15%;
	float: left;
	border-right: 1px solid #ccc;
}
#footer .center5{
	
	width: 15%;
	float: left;
	border-right: 1px solid #ccc;
}
