*{
	margin: 0;
	padding: 0;
}

#menu{
	width: 100%;
	height: 40px;
	background-color: #618d04;
}

#menu>li{
	height: 40px;
	float: left;
	color: #fff;
	list-style: none;
	line-height: 40px;
	border-left:1px solid #ccc;
	padding: 0px 10px;
	position: relative; 
}

#menu>.seach{
	float: right;
	right: 20px;
	border-left:1px solid #618d04;
}
#menu>li:hover{
	background-color: #78b43d;
}

img{
	width: 90px;
	height: 38px;
}

#menu .gachnho{
	height: 20px;
	margin-top: 10px;
	line-height: 20px;
	border-left: 2px solid #78b43d;
}

#menu .gachnho li{
	position: relative;
}
.absolute{
	position: absolute;
	display: none;
	width: 200px;
	background-color: #78b43d;
	left: -100px;
}

.absolute>li{
	background-color: #99dd09;
	list-style: none;
	padding: 0px 10px;
	border-bottom: 1px solid #ccc;

}

.absolute>li:hover{
	background-color: #618d04;
}

#menu>li:hover .absolute{
	display: block;
}

.absolute1{
	position: absolute;
	display: none;
	width: 180px;
	border-top: 1px solid #ccc;
	top: 50px;
	left: 200px;
}

.absolute1>li{
	background-color: #618d04;
	list-style: none;
	padding: 0px 10px;
	border-bottom: 1px solid #ccc;
}

.absolute1>li:hover{
	background-color: #99dd09;
}

.absolute>li:hover .absolute1{
	display: block;
}

.absolute2{
	position: absolute;
	display: none;
	width: 180px;
	left:0; 
}

.absolute2>li{
	background-color: #99dd09;
	list-style: none;
	padding: 10px 5px 10px 5px;
	border-bottom: 1px solid #ccc;
}

.absolute2>li:hover{
	background-color: #618d04;
}

#menu>li:hover .absolute2{
	display: block;
}